html {
  scroll-behavior: smooth;
}

body {
  background-image: url("../Illustrations/Bathome1.png");
  background-clip: border-box;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: black;
  margin: 132px 102px;
  border: 3px solid #bcbbbd5e;
}

section {
  position: relative;
}

header,
section,
.vertical-icons {
  opacity : 0;
  animation: fade-in 2s ease-in forwards;
}

@keyframes fade-in {
  from {opacity: O;
        transform: translateX(-100%);}
  to {opacity: 1;
    transform: translateX(0);}
}

.header-top {
  margin-top: -90px;
}

.home-icon {
    border-color: none;
    width: 120px;
    height: 50px;
    padding: 40px 10px 10px 10px;
    cursor: pointer;
}

.home-icon:hover {
    border: 2px solid #FFFF00;
  }
  
.menu-home {
    size: 30px;
    float:right;
  }
  
  .menu-button {
    background: none;
    border: none;
    cursor: pointer;
    color: #fdfcfc;
    font-family: "rajdhani medium", sans-serif;
    font-size: 20px;
    background-image: linear-gradient(to left, #19587d69,#19587d85);
    width: 90px;
    height: 50px;
  }

  .menu-dropdown {
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    white-space: nowrap;
  }

  .menu-dropdown li a {
    font-size: 16px;
    font-weight: none;
    text-decoration: none;
    font-family: "rajdhani medium", sans-serif;
  } 

  .menu-home:hover {
    background-image: none;
  }

  .menu-button:hover,
  .menu-button:focus {
    background-image: linear-gradient(to right, #19587d69,#19587d85);
    font-weight: bold;
    text-decoration: underline;
  }

  .menu-home:hover .menu-dropdown,
  .menu-home:focus .menu-dropdown,
  .menu-home:active .menu-dropdown {
    display: block;
    margin-left: -80px;
    margin-top: 0;
    background-image: linear-gradient(to left, #eddbef62,#eddbef);
  }
  
  .menu-dropdown li a:hover,
  .menu-dropdown li a:focus,
  .menu-dropdown li a:active {
    font-weight: bold;
    text-decoration: underline;
  }

  .vertical-icons {
    position: fixed;
    transform: translateY(20%);
    right: 0;
    left: 91%;
    z-index: 1;
  }

  .vertical-icons a .social-network {
    display: block;
    margin-top: 15px;
    margin-bottom: 15px;
    transform: scale(0.8);
  }

  .vertical-icons a .social-network:hover {
    border: 2px solid #FFFF00;
  }

  .bat-icon {
    transform: scale(3.0);
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .bat-icon:hover {
    border: 1px solid #FFFF00;
  }

  .vertical-icons img {
    width: 30px;
  }

  .header-container {
    text-align: center;
    margin-top: 250px;
  }

  .header-content {
    justify-content: center;
    margin-bottom: 100px;
  }

 .intro {
  font-family: "space grotesk regular", sans-serif ;
  font-size: 18px;
  color: #FFFFFF;
 }

  .header-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 250px;
  }

  .button {
    background-image: linear-gradient(to left, #eddbef67,#19587d67);
    background-size: 100% 100%;
    padding: 10px 10px ;
    margin-left: 40px;
    margin-right: 40px;
    display: inline-block;
    font-family: "rajdhani medium", sans-serif;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    background-repeat: no-repeat;
    transition: 0.3s ease-in-out;
  }

  .button:hover {
    background-image: linear-gradient(to left, #EDDBEF,#19587D);
    opacity: 1;
  }

  .down-header {
    position: absolute;
    right: 50%;
    transform: translateX(50%);
  }

  header {
    padding-bottom: 100px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 0;
    margin: 0;
  }
  
  section {
    margin: 50px 0 0 0;
    padding: 0;
  }

  .section-container {
    margin: 0;
    padding: 0;
  }

  h1 {
    font-family: "rajdhani medium", sans-serif;
    font-weight: bold;
    font-size: 36px;
    color: #FFFFFF;
    
  }

.section-content {
    margin: 0;
    padding: 0;
    color: #FFFFFF;

}

.section-content h1,
.section-content p {
  margin-left : 120px;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 0;
}

.normal-text {
  font-family: "space grotesk regular", sans-serif;
  font-size: 18px;
  color: #FFFFFF;}

.inline-images {
    text-align: center;
    margin: 0;
}

.inline-images ul li {
    display: inline-block;
    transform: scale(0.8);
}
  
.image-zoom {
    transition: 0.3s;
    margin-left: -25px;
    margin-right: -25px;
}
  
  .image-zoom:hover {
    transform: scale(0.9);
  }
  
  figcaption {
    font-family: "space grotesk regular", sans-serif;
    font-size: 18px;
    color: #FFFFFF;
    text-decoration-line: none;
  }
  
  a {
    text-decoration: none;
  }
  
  a:hover figcaption,
  a:focus figcaption {
    font-family: "space grotesk regular", sans-serif;
    text-decoration: underline;
    color: #FFFF00;
  }
  
  .justice-league {
    margin-top: 20px;
    margin-left: -150px;
    width: 100%;
    height: auto;
    z-index: 0;
  }

  #MULTIMEDIA {
    margin-right: -30px;
  }

  h2 {
    font-family: "space grotesk regular", sans-serif;
    font-size: 12px;
  }
  
  .section-multimedia {
    margin-left: 0;
    margin-right: 0;
    text-align: center;
    transform: scale(0.8);
  }
  
  .synopsis {
    font-family: "space grotesk", sans-serif;
    color: #FFFFFF;
  }

  .previous-next {
    transform: translateY(-80px);
    transition: 0.3s;
    }

    .previous-next:hover {
      border: 1px solid #FFFF00;
    }

.bat-synopsis {
  margin-left: 0;
  margin-right: 0;
  transform: scale(0.8);
  width: 800px;
  padding-top: 0;
  padding-bottom: 0;
  padding-right: 10px;
  padding-left: 10px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.bat-synopsis:hover {
  transform: scale(0.85);
}

  .trailer-image img {
      float:left;
      width: 165px;
      height: 240px;
      margin-bottom: 0;
  }
    
  .batman-begins {
    margin-left: 170px;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
    background-image: linear-gradient(to right, #c4c4c496 20%, black);
  }

  .batman-begins > p {
    margin: 20px 5px 20px 5px;
  }
  
  .section-multimedia ul li {
    display: inline-block;
  }

